@model JoolServerApp.Web.ViewModels.ContactVM
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<style>
    body {
        height: 100%;
        margin: 0;
        background: linear-gradient(to bottom, #0066cc 0%, #ffffff 91%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body>
    <table>
        <tr>
            <th>
                Manufacturer_Name
            </th>
            <th>
                Department_Name
            </th>
            <th>
                Department_Phone
            </th>
            <th>
                Department_Email
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department_Email)
                </td>
            </tr>
        }
    </table>
</body>