@model JoolServerApp.Web.ViewModels.ContactVM
@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/Shared/_NavLayout";
}
<h2>Contact</h2>
<style>
    body {
        height: 100%;
        margin: 0;
        background: linear-gradient(to bottom, #0066cc 0%, #ffffff 91%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body>
    <table>
        <tr>
            <th>
                Manufacturer_ID
            </th>
            <th>
                Department_Name
            </th>
            <th>
                Department_Phone
            </th>
            <th>
                Department_Email
            </th>
        </tr>
        @foreach (var item in ViewBag.contact)
        {
            <tr>
                <td>
                    @item.Manufacturer_ID
                </td>
                <td>
                    @item.Department_Name
                </td>
                <td>
                    @item.Department_Phone
                </td>
                <td>
                    @item.Department_Email 
                </td>
            </tr>
        }
    </table>
</body>