@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Styles/Login.css" rel="stylesheet" />

<body>
    <div class="d-flex justify-content-end">
        <h3>Sign Up</h3>
    </div>
    <div class="login">
        <div>
            <img src="~/Content/Images/JooleSVG.svg"  height="150" width="300"/>
            <h1>Building Product Selection Platform</h1>
            <form action="">
                <input id="usernameLogin" type="text" class="form-control" placeholder="Username or Email" />
                <input id="passwordLogin" type="text" class="form-control" placeholder="Password" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>