@model JoolServerApp.Web.ViewModels.ProductDetailsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Documents";
}
@section Scripts
{
    <link href="~/Content/Styles/Document.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
       
        table {
            border: 1px solid;
        }

        tr {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <h2>Document</h2>
    @Html.Partial("~/Views/Shared/_PartialNav.cshtml", Model)

    <div>
        @Html.ActionLink("Document Download", "Download", Model)
    </div>
</body>
</html>