@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <table>
        <tr>
            <th>
                Document_ID
            </th>
            <th>
                Links For Documentation
            </th>
        </tr>
    </table>
    </div>
</body>
</html>
