@model JoolServerApp.Web.ViewModels.SearchVM

@section Scripts
{
    <link href="~/Content/Styles/_Searchview.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
}


<div id="searchBanner" class="row align-center justify-content-between">
    <div class="col-2">
        <img id="logo" src="~/Content/Images/JooleSVG.svg"/>
    </div>

    <div class="col-6 justify-content-between">
        <form method="get">
            <div class="row">
                <h1>Hello World</h1>
                <div class="col-3 padding-0">
                    @Html.DropDownList("Category_Name", (IEnumerable<SelectListItem>)ViewBag.Customer_Name, "Category", htmlAttributes: new { @class = "form-select", id = "searchCategory", aria_label = "Search Category" })
                    @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
                </div>

                <div class="col padding-0">
                    @Html.DropDownList("Product_Name", (IEnumerable<SelectListItem>)ViewBag.Product_Name, "Search...", htmlAttributes: new { @class = "form-select", id = "searchItem", aria_label = "Search Item" })
                    @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
                </div>
                    
                <div class="col-1 padding-0">
                    <button id="searchBtn" type="submit" class="form-control"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-1 justify-content-end">
        <div class="grayCircle"></div>
    </div>

</div>
