﻿#login {
    text-align: center;
    position: absolute;
    padding-bottom: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.input {
    margin: 10px 0;
}

#loginBtn {
    margin-top: 25px;
    background-color: #01579b;
    border-color: #01579b;
    width: 150px;
}

.pageIcon {
    display: inline;
    position: absolute;
    right: 0;
    margin: 4px 8px;
}

#signUp {
    margin-right: 15%;
}

body {
    background-image: linear-gradient(#01579b, white);
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
}
