@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .coloring {
            background-color: gray;
            font-weight: bold;
        }

        tr {
            border-bottom: 1px black solid;
            border-top: 1px black solid;
        }

        th {
            font-weight: initial;
            font-style: italic;
        }
    </style>
</head>
<body>
    <!-- Paste code on top shared between pages at this point-->
    <div style="float:left; margin-left:30px;">
        <a href="">Product Summary</a> &nbsp; <a href="">Product Details</a>
        &nbsp; <a href="">Product Documentation</a> &nbsp; <a href="">Contact</a>
    </div>
    <br />
    <div class="container">
        <h3>Product Summary</h3>
        <div class="row">
            <div class="col-sm">
                <table>
                    <tr>
                        <th>
                            Description
                        </th>
                    </tr>
                    <!--Post code here for model-->

                </table>
                <table>
                    <tr>
                        <th>
                            Type
                        </th>
                    </tr>
                    <!--Post code here for model-->
                </table>
            </div>
            <div class="col-sm">
                <table>
                    <tr>
                        <th>
                            Technical Specifications
                        </th>
                    </tr>
                    <!--Post code here for model-->
                </table>
            </div>
        </div>
    </div>
</body>
</html>

