@model JoolServerApp.Web.ViewModels.ProductDetailsVM
@{
    Layout = "~/Views/Shared/_NavLayout";
}
@{
    ViewBag.Title = "ProductDetails";
}
<h2>ProductDetails</h2>
<!-- Paste code on top shared between pages at this point-->
<div style="float:left; margin-left:30px;">
    <a href="">Product Summary</a> &nbsp; <a href="">Product Details</a>
    &nbsp; <a href="">Product Documentation</a> &nbsp;
    @Html.ActionLink("Contact", "Contact", "Contact")
</div>
<br />
<div class="container">
    <h3>Product Summary</h3>
    <div class="row">
        <div class="col-sm">
            <table>
                <tr>
                    <th>
                        Description
                    </th>
                </tr>
                @Model.Series_Info

            </table>
            <table>
                <tr>
                    <th>
                        Type
                    </th>
                </tr>
                @Model.Series
            </table>
        </div>
        <div class="col-sm">
            <table>
                <tr>
                    <th>
                        Technical Specifications
                    </th>
                </tr>
                <!--Post code here for model-->
            </table>
        </div>
    </div>
</div>

